# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build
frondand/build/
frondand/dist/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Jekyll (disable)
_site/
.jekyll-cache/
.jekyll-metadata
